.ICEauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.blackboard/
.cache/
.cert/
.config/
.dropbox-dist/
.dropbox/
.esd_auth
.gstreamer-0.10/
.icedtea/
.java/
.lesshst
.local/
.macromedia/
.mozilla/
.pki/
.purple/
.ssh/
.thunderbird/
Blackboard/
Documents/
Downloads/
Dropbox/
Red Hat/
bin/
.gnupg
.viminfo
.Skype
.dbus/
.workrave/
Desktop/
.eclipse/
.openshift/
Pictures/
SpiderOakBlue Hive/
