.ICEauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.blackboard/
.cache/
.cert/
.config/
.dropbox*
.esd_auth
.gstreamer-0.10/
.icedtea/
.java/
.lesshst
.local/
.macromedia/
.mozilla/
.pki/
.purple/
.ssh/
.thunderbird/
Blackboard/
Documents/
Downloads/
Dropbox/
Red Hat/
bin/
.gnupg
.viminfo
.Skype
.dbus/
.workrave/
Desktop/
.eclipse/
.openshift/
Pictures/
SpiderOakBlue Hive/
.gem/
.gimp-2.8/
.gist-vim
.thumbnails/
puppet
.Xauthority
.adobe/
.fltk/
.gftp/
.lastpass/
.pry_history
.puppet/
.rediscli_history
.vim/.netrwhist
.vim/spell/
.vnc/
Videos/
bar.conf
gnome-stuck.log
gnome.log
rpmbuild/
tm/
tmux-stuff.tgz
.Ticket to Ride/
.collaborate/
.fonts/
.gnome/
.gtk-recordmydesktop
.install4j
.pulse-cookie
.ravello/
.steam/
.steampath
.steampid
.tt/
.webex/
.swt/
liquidprompt/
